ICE restart PATCH request without candidates

Section 4.1.1 says:

   "When used for trickle ICE,
   the body of this PATCH message will contain the new gathered set of
   ICE candidates and when used for ICE restarts, it will also contain
   the new ICE ufrag/pwd pair as defined in [RFC8838] Section 5.4."

However, the ICE restart PATCH request example in Section 4.1.3 does not contain any ICE candidates, only ICE ufrag/pwd.

the list can be null when doing the ice restart, as the candidates may be gathered afterwards. Should we made it clear on the previous text?

Since the Section is about ICE restart, I think the example should show a PATCH with a full set of candidates.

Then, you could add text saying that if ICE restart is used with trickle ICE, the restart PATCH can be sent without candidates.