[ARTART-REVIEW] URI vs URL inconsistency usage

Throughout the document you refer to both “URI” and “URL”, seemingly
interchangably.  I would feel much better if you stuck with “URI” consistently
throughout.  For example, in Section 4.4:

> Each STUN/TURN server will be returned using the "Link" header
> field [RFC8288] with a "rel" attribute value of "ice-server".
> The Link target URI is the server URL as defined in [RFC7064]
> and [RFC7065].

But if you look in RFCs 7064 and 7065, there is no ocurrance of “URL” in
either; the both say “URI”, and anyone looking in them for “the server URL”
will not find it.