ICE restart example should contain video

As the example in Section 4.1.3 is for ICE restart, I guess it should also contain an video "m=" description.

given that we are using bundle only, we only need to send the candidates for the first m-line, should we add it as a note?

in fact, sending candidates on the video line would be incorrect according to JSEP:

```
Each "m=" section, provided it is not marked as bundle-only, MUST contain a unique set of ICE credentials and a unique set of ICE candidates. Bundle-only "m=" sections MUST NOT contain any ICE credentials and MUST NOT gather any candidates`
```

There is no need for any candidates, but there is no video "m=" line (with a bundle-only attribute) at all. 

that's not needed according rfc8840:

```
Agents MUST include a pseudo "m=" line and an identification tag in a "mid" attribute for every "m=" line whose candidate list they intend to update.
```
```
Note, that there is no requirement that the INFO request body contains as many pseudo "m=" lines as the Offer/Answer contains "m=" lines, nor that the pseudo "m=" lines be in the same order as the "m=" lines that they pertain to. 
```

So if there are no candidates for video, then there is no need to add the video m-line

The above applies to Trickle, where you provide ADDITIONAL candidates.  But, as I have indicated before, in an ICE restart you provide a NEW set of candidates - the old ones are discarded (I think some text was added regarding that).

ok, given that ice restarts are not defined in rfc 8840, we should add the text there stating that the video line is not required to be sent 



This is related to the issue I raised before: should we use RFC 8840 to begin with, as it is not defined for ICE restart? My preference would be to use application/sdp.

But, if we want to useRFC 8840 for ICE restart, my suggestion would be the opposite to above: add text stating that the video line IS required.



whyv would you prefer to send the m video line, seems useless

Because we are providing a completely new set of candidates, for all streams (audio and video). Now it looks like you are no more offering a video stream after the ICE restart, which is not the case.

Is there are reason why we can't use application/sdp with ICE restart? How often do we expect ICE restart to occur in the first place?

I don't want to use application/sdp as I don't want to send a full sdp, sdp fragment seems much more appropriate. 

I find ICE restarts to be much more useful than trickle ICE (which is not needed at all when talking with a server on a public IP address). 



What kind of SDP does e.g., Chrome return if you do an ICE restart?

It is a new offer, could have other stuff changed not only the ice related stuff. 

And what does the WHIP client do in that case, as it is not allowed to signal changes to non-ICE related stuff?

client should not do or need renegotiation, so I don't know what should a non-compliant client do



But if a client does an ICE restart, and gets a new offer e.g., with new local payload type numbers for the audio/video streams, what shall the client do? 

we don't support renegotiations, so the client should stop and start
publishing again

El vie, 19 ene 2024, 11:35, Christer Holmberg ***@***.***>
escribió:

> But if a client does an ICE restart, and gets a new offer e.g., with new
> local payload type numbers for the audio/video streams, what shall the
> client do?
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/wish-wg/webrtc-http-ingest-protocol/issues/176#issuecomment-1900156636>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAIFN45KT2RXIPEEKJWOL5DYPJD7FAVCNFSM6AAAAABBYGLCF2VHI2DSMVQWIX3LMV43OSLTON2WKQ3PNVWWK3TUHMYTSMBQGE2TMNRTGY>
> .
> You are receiving this because you commented.Message ID:
> ***@***.***>
>


Maybe we need to make that more clear also in the ICE Restart section, and say that WHIP supports ICE restarts where only new ICE information is generated. 

I think it is an edge case of an edge case, but happy to add it to the spec

Perhaps payload type is not the best example, but the point is that there are a number of non-ICE values that at could change (at least in theory) when a new offer is created as part of an ICE restart: the msid, the fingerprint, etc etc etc.

I have not seen any of them happening in real life, but anyway, happy to add a note about it. Should it be on the ICE restart section or should we add the note where we specify that we don't support renegotiations?


I think it should be in the ICE Restart section.

Also, going back to the previous issue, if you want to use SDP fragment with only the audio m- line also for ICE restarts, I think you need some more text about that, describing how this is a deviation from the ICE restart procedures: how you use SDP fragment even if an ICE restart per the ICE specification "resets" the previously negotiated SDP.

Can you point it where is that specifies? It feels weird that ICE reset SDP states given they are different layers

Note that RFC 8445 says about ICE restart:

``` 
An ICE  restart causes all previous states of the data streams, excluding the    roles of the agents, to be flushed.
```

But the data stream states are https://datatracker.ietf.org/doc/html/rfc8445#section-6.1.2.6

```
 Each candidate pair in the checklist has a foundation (the
   combination of the foundations of the local and remote candidates in
   the pair) and one of the following states:

   Waiting:  A check has not been sent for this pair, but the pair is
      not Frozen.

   In-Progress:  A check has been sent for this pair, but the
      transaction is in progress.

   Succeeded:  A check has been sent for this pair, and it produced a
      successful result.

   Failed:  A check has been sent for this pair, and it failed (a
      response to the check was never received, or a failure response
      was received).

   Frozen:  A check for this pair has not been sent, and it cannot be
      sent until the pair is unfrozen and moved into the Waiting state.

```

So IMHO,  ICE does not mandate anything regarding SDP/RTP when doing ICE restarts

the other reference to states in ICE is: https://datatracker.ietf.org/doc/html/rfc8445#section-6.1.2.1

```
  Each checklist has a state, which captures the state of ICE checks
   for the data stream associated with the checklist.  The states are:

   Running:  The checklist is neither Completed nor Failed yet.
      Checklists are initially set to the Running state.

   Completed:  The checklist contains a nominated pair for each
      component of the data stream.

   Failed:  The checklist does not have a valid pair for each component
      of the data stream, and all of the candidate pairs in the
      checklist are in either the Failed or the Succeeded state.  In
      other words, at least one component of the checklist has candidate
      pairs that are all in the Failed state, which means the component
      has failed, which means the checklist has failed.
```

RFC 8839 describes that subsequent offers are used for ICE restarts. 

RFC 8840/sdpfrag was never meant for ICE restarts, as it does not allow new ICE credentials (which WHIP also mentions), and it does not support removing of previous candidates (it does say that all candidates have to be included in each INFO, but , both which are required for ICE restart.

RFC 8840 also says:

"the sequence of a previously sent list of candidates MUST NOT change in subsequent INFO requests, and newly gathered candidates MUST be added at the end of that list."

But, in case of ICE restart the "previously sent list of candidates" may not be valid anymore.

So, if you want to use sdpfrag also for ICE restart, I think we need a little more background text, explaining the difference between WHIP and both 8839 and 8840.





this is what rfc 8839 states about subsequent offers and ice restart:

```
An agent MAY restart ICE processing for an existing data stream [[RFC8445](https://datatracker.ietf.org/doc/html/rfc8445)].

The rules governing the ICE restart imply that setting the connection address in the "c=" line to "0.0.0.0" (for IPv4)/ "::" (for IPv6) will cause an ICE restart. Consequently, ICE implementations MUST NOT utilize this mechanism for call hold, and instead MUST use "inactive" and "sendonly" as described in [[RFC3264](https://datatracker.ietf.org/doc/html/rfc3264)].

To restart ICE, an agent MUST change both the "ice-pwd" and the "ice-ufrag" for the data stream in an offer. However, it is permissible to use a session-level attribute in one offer, but to provide the same "ice-pwd" or "ice-ufrag" as a media-level attribute in a subsequent offer. This MUST NOT be considered as ICE restart.

An agent sets the rest of the ICE-related fields in the SDP for this data stream as it would in an initial offer of this data stream ([Section 4.2.1](https://datatracker.ietf.org/doc/html/rfc8839#sec-encoding)). Consequently, the set of candidates MAY include some, none, or all of the previous candidates for that data stream and MAY include a totally new set of candidates. The agent MAY modify the attribute values of the SDP "ice-options" and SDP "ice-pacing" attributes, and it MAY change its role using the SDP "ice-lite" attribute. The agent MUST NOT modify the SDP "ice-options", "ice-pacing", and "ice-lite" attributes in a subsequent offer unless the offer is sent in order to request an ICE restart.
```

So nothing in that implies any change at rtp level or anything not related to ICE and it matches the usage of sdpfrag we do.

We have already added this to the WHIP draft regarding RFC8840 not supporting ice restarts and the way it should be used with patch request:

```
[[RFC8840](https://www.rfc-editor.org/rfc/rfc8840)] states that an agent MUST discard any received requests containing "ice-pwd" and "ice-ufrag" attributes that do not match those of the current ICE Negotiation Session, howevever, any WHIP session receiving an updated "ice-pwd" and "ice-ufrag" attributes MUST consider the request as performing an ICE restart instead and, if supported, SHALL return a "200 OK" with an "application/trickle-ice-sdpfrag" body containing the new ICE username fragment and password and a new set of ICE candidates for the WHIP session. Also, the "200 OK" response for a successful ICE restart MUST contain the new entity-tag corresponding to the new ICE session in an ETag response header field and MAY contain a new set of ICE candidates for the media server. The WHIP client MUST discard any previous set of media server's ICE candidates when receiving a successful response for an ICE restart request.
```

What else do you think that should be clarified?


RFC 8839 only talks about ICE, which is the reason it does not talk about RTP, non-ICE parameters etc. But, whenever you send a subsequent offer you are allowed to change whatever parameter you want, and at least the o= parameter MUST change in a subsequent offer (per 3264).

I did not check what you have added, but I think the text could say something like:

"As defined in RFC 8839, when an ICE restart occurs, a new SDP offer/answer exchange is triggered. However, as WHIP does not support renegotiation of non-ICE related SDP information, a WHIP client will not send a new offer when an ICE restart occurs. Instead, it will only send its new set of ICE candidates, and the WHIP session will only return its new set of candidates, using the mechanism defined in RFC 8840. The WHIP client and WHIP session MUST assume that the previously negotiaded non-ICE related SDP information still apply after the ICE restart."  



I have changed your sugestion a bit: https://github.com/wish-wg/webrtc-http-ingest-protocol/commit/69225bb730f40ee12377238e66bebf1041d4e87a

The main reason is that whip client and session exchange the new set if ufrag/pwd and that RFC 8840 does not specify how to do ice restart, so I have referenced the section 4.1 http patch request, with does reference rfc 8840 inside of it.

Given that I already explain what ice information can be exchanged below, it seems a bit redundant:

```
As defined in {{!RFC8839}}, when an ICE restart occurs, a new SDP offer/answer exchange is triggered. However, as WHIP does not support renegotiation of non-ICE related SDP information, a WHIP client will not send a new offer when an ICE restart occurs. Instead, it will only send its updated "ice-pwd" and "ice-ufrag" and the new set of ICE candidates, and the WHIP session will only return its updated "ice-pwd" and "ice-ufrag" and new set of candidates, using and HTTP PATCH request as defined in Section 4.1. The WHIP client and WHIP session MUST assume that the previously negotiaded non-ICE related SDP information still apply after the ICE restart.

{{!RFC8840}} states that an agent MUST discard any received requests containing "ice-pwd" and "ice-ufrag" attributes that do not match those of the current ICE Negotiation Session, howevever, any WHIP session receiving an updated "ice-pwd" and "ice-ufrag" attributes MUST consider the request as performing an ICE restart instead and, if supported, SHALL return a "200 OK" with an "application/trickle-ice-sdpfrag" body containing the new ICE username fragment and password and a new set of ICE candidates for the WHIP session. Also, the "200 OK" response for a successful ICE restart MUST contain the new entity-tag corresponding to the new ICE session in an ETag response header field and MAY contain a new set of ICE candidates for the media server. The WHIP client MUST discard any previous set of media server's ICE candidates when receiving a successful response for an ICE restart request.

```

How would you think of changing 

```` 
 a WHIP client will not send a new offer when an ICE restart occurs. Instead, it will only send its updated "ice-pwd" and "ice-ufrag" and the new set of ICE candidates, and the WHIP session will only return its updated "ice-pwd" and "ice-ufrag" and new set of candidates, using and HTTP PATCH request as defined in Section 4.1. The WHIP client and WHIP session MUST assume that the previously negotiaded non-ICE related SDP information still apply after the ICE restart.
```

to 

```
 a WHIP client will not send a new offer when an ICE restart occurs. Instead, the WHIP client and WHIP session will only exchange the relevant ICE information via an HTTP PATCH request and MUST assume that the previously negotiated non-ICE related SDP information still apply after the ICE restart.
```

sorry for changes, but I have reviewed the section, and I think it is clearer now:

https://github.com/wish-wg/webrtc-http-ingest-protocol/commit/e649962fdb9e92051848b57bfd376743b9858cfe



we are always about the media server ICE candidates in the rest of the document, so that should be consistent with the other parts of the document.

Regarding discarding the other side candidates, I have some doubts now, RFC8845 says that:
```
   When the ICE is restarted, the candidate set for the new ICE session
   might include some, none, or all of the candidates used in the
   current ICE session.
```
and rfc 8839:
```
Consequently, the set of candidates MAY include some, none, or all of the previous candidates for that data stream and MAY include a totally new set of candidates.
```

so should we say that the set of candidates must be replaced with the new set of candidates provided, discarding any candidate not present on the new one?


PR here: https://github.com/wish-wg/webrtc-http-ingest-protocol/pull/181

> we are always about the media server ICE candidates in the rest of the document, so that should be consistent with the other parts of the document.
> 
> Regarding discarding the other side candidates, I have some doubts now, RFC8845 says that:
> 
> ```
>    When the ICE is restarted, the candidate set for the new ICE session
>    might include some, none, or all of the candidates used in the
>    current ICE session.
> ```
> 
> and rfc 8839:
> 
> ```
> Consequently, the set of candidates MAY include some, none, or all of the previous candidates for that data stream and MAY include a totally new set of candidates.
> ```
> 
> so should we say that the set of candidates must be replaced with the new set of candidates provided, discarding any candidate not present on the new one?

The new set of candidates can of course be identical to the previous set, but from an ICE perspective they are still considered a new set of candidates, while the old set is being discarded :)