Clarify SVC and Simulcast support

- the protocol needs to support these features, and will informatively cite RFC 8853 and RFC 6190 as the means for doing so.

 - No, clients are not required to support these mechanisms, and will use the procedures in RFC 8853 §5.3 and RFC 6190 §7.2.2 to negotiate whether they will do so. 
 
- No, servers are not required to support these mechanisms, and will use the same procedures as clients to negotiate their support.
