Change introduction

From @aboba: 


Section 1

“ While WebRTC has been very successful in a wide range of scenarios,
   its adoption in the broadcasting/streaming industry is lagging 
   behind.”

[BA] I recently saw a survey indicating that WHIP is now the second most implemented ingestion protocol, second only to RTMP.  So while this sentence may have been correct at one time, it seems out of date now.  Can we delete this sentence? 

Also, overall Section 1 seems like it could be shortened considerably by highlighting the major points. Here is my suggestion: 

“ The IETF RTCWEB working group standardized JSEP ([RFC8829]), a
   mechanism used to control the setup, management, and teardown of a
   multimedia session.  JSEP also describes how to negotiate media flows
   using the Offer/Answer Model with the Session Description Protocol
   (SDP) [RFC3264] as well as the formats for data sent over the wire
   (e.g., media types, codec parameters, and encryption).  WebRTC
   intentionally does not specify a signaling transport protocol at 
   application level. 

Unfortunately, the lack of a standardized signaling mechanism in WebRTC has been an obstacle to adoption as an ingestion protocol within the broadcast/streaming industry, where a streamlined production pipeline is taken for granted: plug in cables carrying raw media to hardware encoders, then push the encoded media to any streaming service or Content Delivery Network (CDN) ingest using an ingestion protocol.
While WebRTC can be integrated with standard signaling protocols like SIP [RFC3261] or XMPP [RFC6120], they are not designed to be used in broadcasting/streaming services and there is no sign of adoption in that industry.  RTSP [RFC7826], which is based on RTP, is not compatible with the SDP offer/answer model [RFC3264].

This document therefore proposes a simple protocol for supporting WebRTC as a media ingestion method which:

   *  Is easy to implement,

   *  Is as easy to use as popular IP-based broadcast protocols

   *  Is fully compliant with WebRTC and RTCWEB specs

   *  Allows for ingest both in traditional media platforms and in
      WebRTC end-to-end platforms with the lowest possible latency.

   *  Lowers the requirements on both hardware encoders and broadcasting
      services to support WebRTC.

   *  Is usable both in web browsers and in native encoders.”