[HTTPDIR] Etag usage

>I'm concerned that I can't tell whether I just need to use an Etag to make a conditional request, as I would with any other HTTP API.  I have to go through the effort of reconciling the words in this paragraph with those in RFC9110 to know if this protocol layers on new constraints.  This is made more difficult by the fact that it has four MUSTs in the paragraph and finishes with a statement that invalidates the MUSTs.

>I have attempted to reword the paragraph with this:
```WHIP sessions that support ICE restarts MUST return a strong ETag as per [RFC9110] Section 8.8.3 in a successful response to a POST to the WHIP Endpoint.  
Successful PATCH requests to WHIP sessions that trigger a restart MUST return an updated ETag.
```
 
> This rewording made me ask the question, what happens when a PATCH doesn't trigger a restart. Then I read your response to my last concern and I realized that the protocol is suggesting that a PATCH that doesn't trigger a restart returns a 204 and does not include a Etag.  I had not realized this on first read but it is directly related to my comment that layering addition semantics onto 200 vs 204 is not advisable.

> I would recommend clarifying the unusual handling of Etags with an additional sentence like : 
```
Successful PATCH requests to WHIP sessions that do not trigger a restart MUST not return an updated ETag.
```

genart
>>    Note that including the ETag
   in the original "201 Created" response is only REQUIRED if the WHIP
   resource supports ICE restarts and OPTIONAL otherwise.

> I *think* this means that the entirety of the preceding paragraph is
conditional "If the WHIP resource supports ICE restarts, the following
complications are possible ... and so the WHIP resource must return
ETag header fields ...".  Whatever the causation/conditions are, they
should be put at the start of the paragraph.