[SECDIR-review] Section 5: usage of "etc"

Section 5 says:

>   *  HTTP security: Section 11 of [RFC9112], Section 17 of [RFC9110],
      etc.

The use of "etc" is not going to help an implementer.  Please be complete.

