[ARTART-REVIEW] Editorial Link header usage

> > Each STUN/TURN server will be returned using the "Link" header
> > field [RFC8288] with a "rel" attribute value of "ice-server".
> > The Link target URI is the server URL as defined in [RFC7064]
> > and [RFC7065].

Thanks to Dave Crocker for noting that there's something wrong with
"each server will be returned".  I think you mean to say that "A
reference to each STUN/TURN server will be returned...," or some such.
The servers themselves will, of course, remain in their data centers.