Example ice targets not in angle brackets

The example ICE server headers are shown in https://github.com/wish-wg/webrtc-http-ingest-protocol/blob/d5ddd5a2c98b2f7b0a6240cf4500518c23358237/draft-ietf-wish-whip.md#stunturn-server-configuration as:
```
     Link: stun:stun.example.net; rel="ice-server";
     Link: turn:turn.example.net?transport=udp; rel="ice-server";
           username="user"; credential="myPassword"; credential-type="password";
     Link: turn:turn.example.net?transport=tcp; rel="ice-server";
           username="user"; credential="myPassword"; credential-type="password";
     Link: turns:turn.example.net?transport=tcp; rel="ice-server";
           username="user"; credential="myPassword"; credential-type="password";
```

However RFC 8288 wants the link target to be in angle brackets:
```
[3.1](https://datatracker.ietf.org/doc/html/rfc8288#section-3.1).  Link Target

   Each link-value conveys one target IRI as a URI-Reference (after
   conversion to one, if necessary; see [[RFC3987], Section 3.1](https://datatracker.ietf.org/doc/html/rfc3987#section-3.1)) inside
   angle brackets ("<>").  If the URI-Reference is relative, parsers
   MUST resolve it as per [[RFC3986], Section 5](https://datatracker.ietf.org/doc/html/rfc3986#section-5).  Note that any base IRI
   appearing in the message's content is not applied.
```

thanxs for the feedback! should be fixed now