[AD-REVIEW] URN namespaces clarification

Sections 6.3 and 6.4 confuse me, though this is possibly just my inexperience with URN namespaces talking.  It looks like you're creating a registry for IANA to manage, but doing it completely outside of the pattern RFC 8126 describes.  Given the reference to RFC 3553, I'm guessing this is somewhat normal, though I wonder why RFC 2434 wasn't used.  Is that all correct?

>I don't have much knowledge about the urn ietf namespace, but the ones on the RFC 2434 don't seem appropriate to me and the only one that seems to be active at IANA are the "urn:ietf:params:" namespaces specified in rfc3553:
https://www.iana.org/assignments/params/params.xhtml#urn-subnamespaces

>I used the SCIM registry as an example when writing the WHIP registry , but it is also used by the rtp header extension registry. Is there anyone that we could ask to confirm if this is ok?

Get early artart review fir the IANA registry https://github.com/wish-wg/webrtc-http-ingest-protocol/issues?q=is%3Aissue+label%3Aartart-review+

closing this issue in favor of the individual issues from artart