[WGLC -12] SDP offer/answer example not aligned with JSEP rules

Section 4 of WHIP says:

"In order to set up an ingestion session, the WHIP client will generate an SDP offer according to the JSEP rules"

I assume "JSEP rules" refers to Section 5.2.1 of RFC 8829 (JSEP). If so, there are still a number of misalignments between the JSEP rules and the SDP offer/answer example in Section 4.

Q1:
==

Section 5.2.1 of RFC 8829 (JSEP) says:

"Bundle-only "m=" sections MUST NOT contain any ICE credentials and MUST NOT gather any candidates."

However, in the SDP example in Section 4 of WHIP the bundle-only m- section contains ICE credentials (ufrag and pwd).

SUGGESTION: Remove the ICE credentials from the bundle-only m- sections.  


Q2:
==

Section 5.2.1 of RFC 8829 (JSEP) says:

"[RFC8859] groups SDP attributes into different categories. To avoid unnecessary duplication when bundling, attributes of category IDENTICAL or TRANSPORT MUST NOT be repeated in bundled "m=" sections, repeating the guidance from [RFC8843], [Section 7.1.3](https://www.rfc-editor.org/rfc/rfc8843#section-7.1.3). This includes "m=" sections for which bundling has been negotiated and is still desired, as well as "m=" sections marked as bundle-only."

However, in the SDP example in Section 4 of WHIP the bundle-only m- section contains the following IDENTICAL/TRANSPORT category attributes:

- fingerprint (TRANSPORT)
- setup (TRANSPORT)
- rtcp-mux (IDENTICAL)
- rtcp-mux-only (IDENTICAL)
- rtcp (TRANSPORT)

Q3:
==

The mux category of the extmap attribute is SPECIAL, and each extension specification needs to define the multiplexing considerations. Has it been verified whether the extmap extensions in the example shall be included in bundle-only m- lines?


Q4:
==

The "ice2" ICE option is missing from the example.


Q5 (Not directly related to JSEP):
=====================

In the example in Section 4 the ICE ufrag and pwd are provided on the media level, and in the example in Section 4.1.2 they are provided on the session level. I think the examples should be consistent.



Q1 & Q2
Here is a PR removing the wrong attributes from bundle-only lines:
https://github.com/wish-wg/webrtc-http-ingest-protocol/pull/185

Could you review it and let me know if that is correct, please?

Q3:
I have tried to find the category of the sdes header extensions, but I
can't find them in any RFC

Q4:I would prefer not to add it to the example as it has not been used in
any webrtc implementation I know of and it would be confusing. According to
JSEP:


*3.5.5. ICE VersionsWhile this specification formally relies on [RFC8445],
at the time of its publication, the majority of WebRTC implementations
support the version of ICE described in [RFC5245]. The "ice2" attribute
defined in [RFC8445] can be used to detect the version in use by a remote
endpoint and to provide a smooth transition from the older specification to
the newer one. Implementations MUST be able to accept remote descriptions
that do not have the "ice2" attribute.*

Also, ice2 seems to be applicable for aggressive nomination, which we don't
talk about on this draft:

   The usage of the 'ice2' ICE option (Section 10) by endpoints
   supporting this specification is supposed to prevent controlling
   agents that are implemented according to RFC 5245 from using
   aggressive nomination.


Best regards
Sergio

On Tue, Jan 30, 2024 at 4:50 PM Christer Holmberg ***@***.***>
wrote:

> Section 4 of WHIP says:
>
> "In order to set up an ingestion session, the WHIP client will generate an
> SDP offer according to the JSEP rules"
>
> I assume "JSEP rules" refers to Section 5.2.1 of RFC 8829 (JSEP). If so,
> there are still a number of misalignments between the JSEP rules and the
> SDP offer/answer example in Section 4.
> Q1:
>
> Section 5.2.1 of RFC 8829 (JSEP) says:
>
> "Bundle-only "m=" sections MUST NOT contain any ICE credentials and MUST
> NOT gather any candidates."
>
> However, in the SDP example in Section 4 of WHIP the bundle-only m-
> section contains ICE credentials (ufrag and pwd).
>
> SUGGESTION: Remove the ICE credentials from the bundle-only m- sections.
> Q2:
>
> Section 5.2.1 of RFC 8829 (JSEP) says:
>
> "[RFC8859] groups SDP attributes into different categories. To avoid
> unnecessary duplication when bundling, attributes of category IDENTICAL or
> TRANSPORT MUST NOT be repeated in bundled "m=" sections, repeating the
> guidance from [RFC8843], Section 7.1.3
> <https://www.rfc-editor.org/rfc/rfc8843#section-7.1.3>. This includes
> "m=" sections for which bundling has been negotiated and is still desired,
> as well as "m=" sections marked as bundle-only."
>
> However, in the SDP example in Section 4 of WHIP the bundle-only m-
> section contains the following IDENTICAL/TRANSPORT category attributes:
>
>    - fingerprint (TRANSPORT)
>    - setup (TRANSPORT)
>    - rtcp-mux (IDENTICAL)
>    - rtcp-mux-only (IDENTICAL)
>    - rtcp (TRANSPORT)
>
> Q3:
>
> The mux category of the extmap attribute is SPECIAL, and each extension
> specification needs to define the multiplexing considerations. Has it been
> verified whether the extmap extensions in the example shall be included in
> bundle-only m- lines?
> Q4:
>
> The "ice2" ICE option is missing from the example.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/wish-wg/webrtc-http-ingest-protocol/issues/182>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAIFN47L6GCUTTOXFPLAPCTYREJEFAVCNFSM6AAAAABCRPWNB2VHI2DSMVQWIX3LMV43ASLTON2WKOZSGEYDQMJZGI4TKOA>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>


Q1 and Q2: You also need to remove the setup attribute from the bundle-only line.

Q3: Ok. I guess they can be kept, unless someone says otherwise.

Q4: I'll leave it to you, but as I have previously indicated I think our examples should be aligned with the standards, not implementations.

Q5: The PR does not cover this issue. Will there be a separate PR?

> Q1 and Q2: You also need to remove the setup attribute from the bundle-only line.

removed

Q4, ok, added ice2 as well to sdp O/A. should we include also the ice-options on patch requests/responses?

re Q5: I didn't saw it on the email, changed it too 

Q1 and Q2 and Q5: Looks ok.

Q4: Regarding ice-options, that is an interesting question. I don't think it is needed for trickle ICE, as you are providing additional candidates for an existing ICE session. But, I would assume it is needed for ICE restart, as you are negotiating a new ICE session. I think that should be shown in the ICE restart example, and also pointed out in the text. 

I will add a different PR as we will add more normative text then.

done here https://github.com/wish-wg/webrtc-http-ingest-protocol/pull/186

s/bodys/bodies

As far as the PATCH request is concerned, the PR looks ok. A couple of questions, though:

Q1: The text does not talk about the attributes (ice-options etc) for the initial POST request. Unless I have missed it, they are only shown in the SDP example.

Q2: The keep the protocol simple, SDP re-negotiation is not allowed. What about modifying the ICE attributes? pwd and ufrag are obviously modified in an ICE restart, but what about other ICE attributes?

Q1: We say that the `the WHIP client will generate an SDP offer according to the JSEP rules `, the JSEP rules defines the ice-options for the offer. Should we put it in mandatory text?

Q2: I thought about allowing it to renegotiate them as it is easy from the protocol side, but thinking about it twice, I don't think it is ever going to be implemented, so maybe it is easier to just force to use the same values as in the offer/answer. wdyt? (I will update the draft accordingly,but could revert latest commit if needed)

Q1: Perhaps the sentence could be clarified by saying "generate an SDP offer according to the JSEP rules for an initial offer as per Section 5.2.1 of [RFC8829]". It is probably good to change "will" to "MUST" also. In general, if we specify a procedure that must be implemented, "MUST" is better than "will". "will" can be used when we e.g., talk about something that is the result of an action.

Q2: In reality I see no reason why someone would need to change them. Either mandate them to stay the same, or say that they "SHOULD NOT" be changed.

Q1:I agree, changed in https://github.com/wish-wg/webrtc-http-ingest-protocol/commit/c10fd48b60a7d680c6b4b1bb911ddc6d0fbf8df2

Q2: done

everything in this issue should already been covered, right?

Yes, but it would be good to go through the whole document, because I think there are other places where "will" should be replaced by "MUST" also.